.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
  }

  .contact-container .contact_section{
    width: 40%;
}
  
  .contact-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 500px;
    /* width: 40%; */
  }
  
  .contact-left-title h2 {
    font-size: 32px;
    color: white;
  }
  
  .contact-left-title hr {
    width: 50px;
    height: 4px;
    border: none;
    background-color: #ff6600;
    margin-top: 5px;
  }
  
  .contact-input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    color: white;
  }
  
  .contact_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ff6600;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .contact_btn img {
    width: 16px;
    height: 16px;
  }
  
  .contact-right img {
    max-width: 400px;
    width: 100%;
  }